

body {
    text-align: center;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    color: #777777;
    margin: 20px 0px 20px;
    text-align: center;
}
input.custom {
    display: block;
    margin-bottom: 15px;
    width: 100%;
    max-width: 600px!important;
    min-width: 100px!important;
}